@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	width: 100%;
    background-color: black;
}

#Universe {
	background-color: black;
	background: url('stars.png');
}

#Stars {
	/* position: relative;
	z-index: 2;
	background: url();
	height: 100%; */

	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	background-image: url("images/stars.png");
	animation: star-fading 3s infinite alternate, illusion 10s infinite alternate;
	/* -webkit-animation: StarPulse 4s infinite alternate; */
	        /* animation: StarPulse 4s infinite alternate; */
}

@keyframes star-fading {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0.4;
	}
  }
  @keyframes illusion {
	from {
	  transform: rotate(0);
	}
	to {
	  transform: rotate(10deg);
	}
  }
  .stars {

  }
#Sun {
	height: 200px;
	width: 200px;
	background: radial-gradient(#F5C313, #EC7E08);
	position: absolute;
	z-index: 4;
	-webkit-box-shadow: 0 0 50px #F5C91A;
	        box-shadow: 0 0 50px #F5C91A;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	margin-top: -100px;
	margin-left: -100px;
	/* -webkit-animation: SunFire 4s infinite alternate; */
	        animation: SunFire 4s infinite alternate;  
}

#EarthPath {
	/*border: solid 1px Red;*/
	height: 600px;
	width: 500px;
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -250px;	
	border-radius: 100%;
	/* -webkit-animation: Rotation 30s linear infinite; */
	        animation: Rotation 30s linear infinite;
}

#Earth {
	position: absolute;
	top: 50%;
	left: 0;
	height: 80px;
	width: 80px;
	margin-top: -40px;	
	-webkit-animation: Rotation 3s linear infinite;	
	        animation: Rotation 3s linear infinite;
}

#MoonPath{
	/*border: solid 1px red;*/
	height: 120px;
	width: 120px;
	position: absolute;
	z-index: 4;
	top: 50%;
	left: -20px;
	margin-top: -60px;
	border-radius: 100%;
	
	        animation: Rotation 5s linear infinite reverse;
}

#Moon {
	height: 20px;
	width: 20px;
	background: radial-gradient(#DDD, #888);
	border-radius: 100%;	
}
/* 
@-webkit-keyframes StarPulse {
	from {opacity: 1}
	to {opacity: 0.2}
} */

/* @keyframes StarPulse {
	from {opacity: 1}
	to {opacity: 0.2}
} */

/* @-webkit-keyframes SunFire {
	from {-webkit-box-shadow: 0 0 50px #F5C91A;box-shadow: 0 0 50px #F5C91A;}
	to {-webkit-box-shadow: 0 0 100px #F5C91A;box-shadow: 0 0 100px #F5C91A;}	
}

@keyframes SunFire {
	from {-webkit-box-shadow: 0 0 50px #F5C91A;box-shadow: 0 0 50px #F5C91A;}
	to {-webkit-box-shadow: 0 0 100px #F5C91A;box-shadow: 0 0 100px #F5C91A;}	
} */

/* @-webkit-keyframes Rotation {
	from {-webkit-transform: rotate(0);transform: rotate(0);}
	to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}	
} */

@keyframes Rotation {
	from {-webkit-transform: rotate(0);transform: rotate(0);}
	to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}	
}